/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span,
/*h1, h2, h3, h4, h5, h6, */
p, pre,
a, code, em, img,
small, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
form, label,
table, caption, tbody, tfoot, thead, tr, th, td,
canvas, footer, header, menu, nav {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family:Tahoma,Monospace,Geneva;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






.fontsetting {
	font-family:Tahoma,Monospace,Geneva;
}
button,
.btn {
	/*display: inline-block;*/
	/*height: 100%;
	width: 100%;*/
	font-weight: bold;
	line-height: 32px;
	text-align: center;
	color: #FFF;
	border: 1px solid #DDD;
	background-color: #B8B8B8;
}
button:hover,
.btn:hover {
	cursor:pointer;
	border: 1px solid #404040;
	background-color: #808080;
}
button:active,
.btn:active {
	border: 1px solid #101010;
	background-color: #000000;
}

textarea, input {
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	padding: 0;
	margin: 0;
}
textarea, input[type=text] {
	width: 100%;
	height: 100%;
	padding: 0 5px;
}




.right {
	float: right;
}

.middle {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.padding-y-low {
	padding-top: 5px;
	padding-bottom: 5px;
}.padding-mid {
	padding: 10px 10%;
}

.margin-mid {
	margin: 10px 10%;
}

.border {
	border: 1px solid #B8B8B8;
}

.borderBox {
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}

.scroll-y {
	overflow-y: auto;
	max-height: 500px;
}

#log {
	width: 98%;
	margin: 10px auto;
	min-height: 50px;
	max-height: 300px;
	font-size: 10px;
	line-height: 12px;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: auto;
	border: 2px solid #AAA;
	background-color: #FFF;
}


/*For Window*/
.win {
	margin: 4px 8px;
	border: 1px solid #AAA;
	background-color: #DDD;
}

.win-head {
	height: 32px;
	background-color: #CCC;
}
.win-head span {
	display: inline-block;
	padding: 0 5px;
	width: 50%;
	height: 30px;
	font-size: 24px;
	font-weight: bold;
	line-height: 32px;
	overflow-x: hidden;
	overflow-y: hidden;
}
.win-head button {
	float: right;
	width: 32px;
	height: 32px;
	line-height: 32px;
	border: 1px solid #999;
	margin: 0 0 0 2px;
	font-size: 1.5em;
}

.win-body {
	overflow-x: auto;
	overflow-y: auto;
	background-color: #EEE;
	border-top: 1px solid #AAA;
	padding: 1% 2%;
}

.win-mini {
	margin: 2px 4px;
	border: 1px solid #AAA;
	background-color: #DDD;
}

.win-mini-head {
	height: 26px;
	background-color: #DDD;
}

.win-mini-head span {
	height: 30px;
	font-size: 1em;
	line-height: 26px;
}
.win-mini-head button {
	width: 26px;
	height: 26px;
	line-height: 26px;
	font-size: 1.2em;
	border: 1px solid #BBB;
}




/*For Labelled & Input*/
.Labelled {
    display: block;
    vertical-align: middle;
	padding: 5px;
}
.Labelled label {
    display: block;
	float: left;
	height: 32px;
	line-height: 32px;
	font-weight: bold;
	text-align: right;
	width: 20%;
	overflow-x: hidden;
	overflow-y: hidden;
	min-width: 50px;
	max-width: 200px;
	padding: 0 5px;
}
.Labelled div {
	overflow-x: hidden;
	overflow-y: hidden;
}
.Labelled span {
	font-size: 14px;
	line-height: 32px;
	color: #888;
    vertical-align: top;
	margin: 0;
	padding: 0;
}
.Labelled input[type=text] {
	height: 32px;
	line-height: 32px;
	border: 1px solid #AAA;
}
.Labelled input[type=checkbox],
.Labelled input[type=radio] {
	height: 32px;
	line-height: 32px;
	margin: 0 5px;
	padding: 0;
    vertical-align: top;
}

/*For Separate*/
.sep1, .sep2,
.sep3, .sep4,
.sep5, .sep6,
.sep7, .sep8,
.sep9, .sep10,
.sep11, .sep12 {
	display: block;
	float: left;
}
.sep1 {
	width: 8.333333333333332%;
}
.sep2 {
	width: 16.666666666666664%;
}
.sep3 {
	width: 25%;
}
.sep4 {
	width: 33.33333333333333%;
}
.sep5 {
	width: 41.66666666666667%;
}
.sep6 {
	width: 50%;
}
.sep7 {
	width: 58.333333333333336%;
}
.sep8 {
	width: 66.66666666666666%;
}
.sep9 {
	width: 75%;
}
.sep10 {
	width: 83.33333333333334%;
}
.sep11 {
	width: 91.66666666666666%;
}
.sep12 {
	width: 100%;
}



/*For text*/
.text {
	padding: 10px 30px;
	font-size: 0.8em;
	background-color: #F5F5F5;
}
.text b {
	font-size: 1em;
	font-weight: bold;
	color: #555;
}
.text p {
	font-size: 0.8em;
	line-height: 1.3em;
	color: #666;
	text-indent: 2em;
}
.text .title {
	font-size: 1.2em;
	color: #444;
	line-height: 2em;
}
.text .small {
	font-size: 0.4em;
	color: #888;
}

/*For text-result*/
.text-result {
	padding: 0.5em 1em;
	font-size: 0.8em;
	background-color: #F5F5F5;
	font-size: 0.8em;
	line-height: 1.3em;
	color: #666;
}
.text-result b {
	font-size: 1em;
	font-weight: bold;
	color: #555;
}
.text-result p {
}




/*For Array*/
.array {
	width: 50px;
	overflow-x: hidden;
	overflow-y: hidden;
	border: 1px solid #AAA;
}
.array b{
	display: block;
	width: 100%;
	text-align: left;
	font-size: 1em;
	line-height: 1.2em;
	padding: 0 4px;
	color: #222;
	background-color: #CCC;
}
.array span{
	display: block;
	width: 100%;
	height: 1.1em;
	padding: 0;
	font-size: 0.9em;
	line-height: 1em;
	color: #555;
	border-top: 1px solid #CCC;
}
.array span button{
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
	font-size: 0.9em;
	line-height: 1em;
	background-color: #CCC;
	color: #555;
	border: 0;
}
.array span button:hover{
	background-color: #BBB;
}
.array span button:active{
	background-color: #AAA;
}
.array abbr{
	cursor: help;
}


.array-wide {
	width: 100px;
}
.array-wide b{
	color: #822;
}
.array-wide span{
	color: #A55;
}

.array-title {
	width: auto;
	min-width: 300px;
}
.array-title span {
	background-color: #CCC;
	border-top: 1px solid #AAA;
}
.array-title input[type=checkbox] {
	display: inline-block;
	height: 1em;
	margin: -0.05em 0;
}


.scrolltable-container {
	max-width: 100%;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: auto;
	border: 5px solid #AAA;
}


.scrolltable-row,
.scrolltable-main {
	height: auto;
	max-height: 300px;	/*don't know how to auto stretch it, so set it explicitly, please*/
}

.scrolltable {
	width:100%;
	overflow-x: hidden;
	overflow-y: hidden;
	table-layout:fixed;

}

.scrolltable-row {
	overflow-x: auto;
	overflow-y: hidden;
}
.scrolltable-col {
	overflow-x: hidden;
	overflow-y: hidden;
}
.scrolltable-main {
	overflow-x: auto;
	overflow-y: auto;
}
.scrolltable-topleft {
	overflow-x: hidden;
	overflow-y: hidden;
	font-weight: bold;
	color: #EEE;
	background-color: #AAA;
	border: 1px solid #AAA;
}




